# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Photon.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\celan\OneDrive\Desktop\Photon\Photon\.idea\.idea.Photon\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
